<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Login / Sign Up</title>
    <% include partials/bootstrap-links.js %>   
</head>
<body>
    <div class="container">
        <hr>
        <h3>Login / Sign Up implementation using Node.js and Passport.js</h3>
        <hr>
        <div class="col-md-6 mx-auto">
            <div class="card text-center mt-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <div><h5> Have an account?</h5><a href="login" class="btn btn-success">Login</a></div>
                        
                    <div><h5>Create an account</h5> <a href="signup" class="btn btn-info">Sign Up</a></div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>