<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node Login</title>
    <% include partials/bootstrap-links.js %>
</head>
<body>
    <div class="container">
            <hr>
            <h3>Login implementation using Node.js</h3>
            <hr>
            <div class="col-md-6 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                            <% if (message.lenght > 0) { %>
                                <div><h2><%=message %></h2></div>
                            <% } %>
                            <div class="text-center"><h1> Login </h1></div>
                            <form action="/login" method="post">
                                <div class="form-group">
                                    <label for="email" class="">Email:</label>
                                    <input type="text" name="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <input type="submit" value="Login" class="btn btn-success">

                            </form>
                    </div>
                    <div class="card-footer">
                            <div class="text-right"><h5>Create an account</h5> <a href="signup" class="btn btn-info">Sign Up</a></div>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>